*
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	
}

.header1
{
	background-color: blue;
}

div {
	padding: 20px;
}

.profilepic {
	
}

.porta_page
{
	background-color: lightblue;
}